ul.sibling li {
    clear: both;
}
#your-orders span.format-type {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 1em;
    background: #fce45c;
    padding: 4px;
    color: #000;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#your-orders span.status-type {
    top: 0;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 1em;
    padding: 4px;
    color: #000;
    border: 1px solid #ddd;
}
#your-orders li {
    padding: 1.5em 1em 1em 1em;
    border-bottom: 1px solid #ddd;
    position: relative;
}
a.button {
    background: #383838;
    color: #fff;
    padding: 0.5em;
    display: inline-block;
    min-width: 24px;
    text-align: center;
}
a.mail-button {
    background: #ccc;
    color: #000;
    padding: 0.5em;
    display: inline-block;
    min-width: 24px;
    text-align: center;
}
#your-orders > li:hover {
    background-color: #eee;
}